In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/superstore.csv", encoding="latin-1")

In [4]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [6]:
df.shape

(9994, 21)

In [7]:
df.isnull().sum()[df.isnull().sum() > 0]

Series([], dtype: int64)

In [8]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [9]:
df['Order Date'].head() # converted 'Order Date' column in datetime

0   2016-11-08
1   2016-11-08
2   2016-06-12
3   2015-10-11
4   2015-10-11
Name: Order Date, dtype: datetime64[ns]

In [10]:
df[df['Sales'] > 0].head() # accessed only values that are greater than 0

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [11]:
monthly_sales = (df.groupby(pd.Grouper(key='Order Date', freq='ME'))['Sales'].sum().reset_index())
# It calculates total sales for each month using the Order Date.
# freq='ME' → Month End frequency (groups all dates into months)
# pd.Grouper(key='Order Date', freq='ME') # Tells pandas to group data by month

In [12]:
monthly_sales.rename(columns={'Order Date': 'ds','Sales': 'y'}, inplace=True)

In [13]:
monthly_sales.head()

          ds          y
0 2014-01-31  14236.895
1 2014-02-28   4519.892
2 2014-03-31  55691.009
3 2014-04-30  28295.345
4 2014-05-31  23648.287

In [14]:
Q1 = monthly_sales['y'].quantile(0.25)
Q3 = monthly_sales['y'].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [15]:
monthly_sales['y'] = monthly_sales['y'].clip(lower=lower_bound, upper=upper_bound)

In [16]:
monthly_sales

           ds            y
0  2014-01-31   14236.8950
1  2014-02-28    4519.8920
2  2014-03-31   55691.0090
3  2014-04-30   28295.3450
4  2014-05-31   23648.2870
5  2014-06-30   34595.1276
6  2014-07-31   33946.3930
7  2014-08-31   27909.4685
8  2014-09-30   81777.3508
9  2014-10-31   31453.3930
10 2014-11-30   78628.7167
11 2014-12-31   69545.6205
12 2015-01-31   18174.0756
13 2015-02-28   11951.4110
14 2015-03-31   38726.2520
15 2015-04-30   34195.2085
16 2015-05-31   30131.6865
17 2015-06-30   24797.2920
18 2015-07-31   28765.3250
19 2015-08-31   36898.3322
20 2015-09-30   64595.9180
21 2015-10-31   31404.9235
22 2015-11-30   75972.5635
23 2015-12-31   74919.5212
24 2016-01-31   18542.4910
25 2016-02-29   22978.8150
26 2016-03-31   51715.8750
27 2016-04-30   38750.0390
28 2016-05-31   56987.7280
29 2016-06-30   40344.5340
30 2016-07-31   39261.9630
31 2016-08-31   31115.3743
32 2016-09-30   73410.0249
33 2016-10-31   59687.7450
34 2016-11-30   79411.9658
35 2016-12-31   96999.0430
36 2017-01-31   43971.3740
37 2017-02-28   20301.1334
38 2017-03-31   58872.3528
39 2017-04-30   36521.5361
40 2017-05-31   44261.1102
41 2017-06-30   52981.7257
42 2017-07-31   45264.4160
43 2017-08-31   63120.8880
44 2017-09-30   87866.6520
45 2017-10-31   77776.9232
46 2017-11-30  118447.8250
47 2017-12-31   83829.3188

In [17]:
# Now train the forecasting model (Prophet)
from prophet import Prophet

model = Prophet(yearly_seasonality=True, weekly_seasonality=False, daily_seasonality=False, changepoint_prior_scale=0.1)
model.add_seasonality(name='quarterly', period=91.25, fourier_order=8)
model.fit(monthly_sales)

12:15:17 - cmdstanpy - INFO - Chain [1] start processing
12:15:19 - cmdstanpy - INFO - Chain [1] done processing

In [18]:
future_predictions = model.make_future_dataframe(periods=6, freq='ME')
Predicted_Sales = model.predict(future_predictions)

In [19]:
Predicted_Sales.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,quarterly,quarterly_lower,quarterly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2014-01-31,2398.379295,6581.364526,19669.528092,2398.379295,2398.379295,10640.474408,10640.474408,10640.474408,642104.420554,642104.420554,642104.420554,-631463.946146,-631463.946146,-631463.946146,0.0,0.0,0.0,13038.853703
1,2014-02-28,2328.056968,805.189842,12611.634009,2328.056968,2328.056968,4934.733333,4934.733333,4934.733333,-376170.018971,-376170.018971,-376170.018971,381104.752304,381104.752304,381104.752304,0.0,0.0,0.0,7262.790301
2,2014-03-31,2250.200107,43155.993339,56411.830124,2250.200107,2250.200107,47480.855265,47480.855265,47480.855265,-148024.739005,-148024.739005,-148024.739005,195505.594270,195505.594270,195505.594270,0.0,0.0,0.0,49731.055372
3,2014-04-30,2174.854759,25782.730549,38251.884992,2174.854759,2174.854759,29813.943630,29813.943630,29813.943630,619116.756465,619116.756465,619116.756465,-589302.812835,-589302.812835,-589302.812835,0.0,0.0,0.0,31988.798389
4,2014-05-31,2096.997897,21262.068194,33761.805356,2096.997897,2096.997897,25416.196078,25416.196078,25416.196078,-359993.851507,-359993.851507,-359993.851507,385410.047585,385410.047585,385410.047585,0.0,0.0,0.0,27513.193975

In [20]:
forecast_output = Predicted_Sales[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].merge(monthly_sales, on='ds', how='left')
# It combines Prophet’s predicted values with the actual monthly sales into one table.

In [21]:
forecast_output.rename(columns={'ds': 'Date', 'y': 'Actual_Sales', 'yhat': 'Forecast_Sales', 
                                'yhat_lower': 'Lower_Bound', 'yhat_upper': 'Upper_Bound'}, inplace=True)

In [74]:
forecast_output.head()

,Date,Forecast_Sales,Lower_Bound,Upper_Bound,Actual_Sales,Error,APE_%
0,2014-01-31,13038.853703,6581.364526,19669.528092,14236.895,1198.041297,8.415046
1,2014-02-28,7262.790301,805.189842,12611.634009,4519.892,-2742.898301,-60.685041
2,2014-03-31,49731.055372,43155.993339,56411.830124,55691.009,5959.953628,10.701824
3,2014-04-30,31988.798389,25782.730549,38251.884992,28295.345,-3693.453389,-13.053219
4,2014-05-31,27513.193975,21262.068194,33761.805356,23648.287,-3864.906975,-16.343285

In [65]:
forecast_output['Error'] = (
    forecast_output['Actual_Sales'] - forecast_output['Forecast_Sales']
)

In [72]:
forecast_output['APE_%'] = (
    forecast_output['Error'] / forecast_output['Actual_Sales']
) * 100

In [24]:
# Now Check the Error in model
Predicted = forecast_output.Forecast_Sales
Actual = forecast_output.Actual_Sales

In [25]:
Actual.isna().sum()

6

In [26]:
valid_data = forecast_output.dropna(subset=['Actual_Sales'])

In [27]:
Actual = valid_data['Actual_Sales']
Predicted = valid_data['Forecast_Sales']

In [28]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

In [29]:
r2score = r2_score(Actual, Predicted)
r2score

0.9615509333535722

In [30]:
import math
mean_squared_error(Actual, Predicted)

23900217.52877891

In [31]:
mape = mean_absolute_percentage_error(Actual, Predicted)
mape * 100

10.684930341793699

In [32]:
math.sqrt(mean_squared_error(Actual, Predicted))

4888.784872417574

In [23]:
forecast_output.to_csv(
    "../output/sales_forecast_powerbi.csv",
    index=False
)
# For PowerBI CSV is ready