In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/superstore.csv", encoding="latin-1")

In [6]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [10]:
df.shape

(9994, 21)

In [12]:
df.isnull().sum()[df.isnull().sum() > 0]

Series([], dtype: int64)

In [22]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [24]:
df['Order Date'].head() # converted 'Order Date' column in datetime

0   2016-11-08
1   2016-11-08
2   2016-06-12
3   2015-10-11
4   2015-10-11
Name: Order Date, dtype: datetime64[ns]

In [26]:
df[df['Sales'] > 0].head() # accessed only values that are greater than 0

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [28]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [30]:
df.to_csv(
    "../Data/SuperStoreCleaned.csv",
    index=False
)
# For PowerBI CSV is ready

In [11]:
monthly_sales = (df.groupby(pd.Grouper(key='Order Date', freq='ME'))['Sales'].sum().reset_index())
# It calculates total sales for each month using the Order Date.
# freq='ME' → Month End frequency (groups all dates into months)
# pd.Grouper(key='Order Date', freq='ME') # Tells pandas to group data by month

In [12]:
monthly_sales.rename(columns={'Order Date': 'ds','Sales': 'y'}, inplace=True)

In [13]:
monthly_sales.head()

          ds          y
0 2014-01-31  14236.895
1 2014-02-28   4519.892
2 2014-03-31  55691.009
3 2014-04-30  28295.345
4 2014-05-31  23648.287

In [14]:
Q1 = monthly_sales['y'].quantile(0.25)
Q3 = monthly_sales['y'].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [15]:
monthly_sales['y'] = monthly_sales['y'].clip(lower=lower_bound, upper=upper_bound)

In [16]:
import numpy as np

In [17]:
monthly_sales['y_log'] = np.log1p(monthly_sales['y'])

In [18]:
monthly_sales.head()

          ds          y      y_log
0 2014-01-31  14236.895   9.563662
1 2014-02-28   4519.892   8.416465
2 2014-03-31  55691.009  10.927592
3 2014-04-30  28295.345  10.250488
4 2014-05-31  23648.287  10.071088

In [19]:
prophet_df = monthly_sales[['ds', 'y_log']].rename(columns={'y_log': 'y'})

In [20]:
prophet_df.tail() # final table for fitting model

           ds          y
43 2017-08-31  11.052823
44 2017-09-30  11.383587
45 2017-10-31  11.261613
46 2017-11-30  11.682236
47 2017-12-31  11.336550

In [21]:
# Now train the forecasting model (Prophet)
from prophet import Prophet

model = Prophet(yearly_seasonality=True, weekly_seasonality=False, daily_seasonality=False, changepoint_prior_scale=0.1)
model.add_seasonality(name='quarterly', period=91.25, fourier_order=8)
model.fit(prophet_df)

17:39:32 - cmdstanpy - INFO - Chain [1] start processing
17:39:34 - cmdstanpy - INFO - Chain [1] done processing

In [22]:
future_predictions = model.make_future_dataframe(periods = 6, freq='ME')
Predicted_Sales = model.predict(future_predictions)

In [23]:
Predicted_Sales.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,quarterly,quarterly_lower,quarterly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
49,2018-02-28,0.091068,10.697448,10.941042,0.083108,0.099070,10.723086,10.723086,10.723086,122.278987,122.278987,122.278987,-111.555901,-111.555901,-111.555901,0.0,0.0,0.0,10.814154
50,2018-03-31,0.113840,10.950665,11.204702,0.098493,0.129833,10.964895,10.964895,10.964895,-118.605210,-118.605210,-118.605210,129.570105,129.570105,129.570105,0.0,0.0,0.0,11.078735
51,2018-04-30,0.135878,10.670147,10.925354,0.111312,0.161689,10.654603,10.654603,10.654603,28.075819,28.075819,28.075819,-17.421215,-17.421215,-17.421215,0.0,0.0,0.0,10.790482
52,2018-05-31,0.158651,10.780475,11.031926,0.122691,0.196004,10.743840,10.743840,10.743840,122.518264,122.518264,122.518264,-111.774425,-111.774425,-111.774425,0.0,0.0,0.0,10.902491
53,2018-06-30,0.180689,10.726213,10.992708,0.134264,0.230972,10.677385,10.677385,10.677385,-118.559183,-118.559183,-118.559183,129.236568,129.236568,129.236568,0.0,0.0,0.0,10.858074

In [24]:
forecast_output = Predicted_Sales[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].merge(monthly_sales, on='ds', how='left')
# It combines Prophet’s predicted values with the actual monthly sales into one table.

In [25]:
forecast_output.rename(columns={'ds': 'Date', 'y': 'Actual_sales', 'yhat': 'Forecast_Sales', 
                                'yhat_lower': 'Lower_Bound', 'yhat_upper': 'Upper_Bound'}, inplace=True)

In [26]:
forecast_output['Forecast_Sales'] = np.expm1(forecast_output['Forecast_Sales'])
forecast_output['Lower_Bound'] = np.expm1(forecast_output['Lower_Bound'])
forecast_output['Upper_Bound'] = np.expm1(forecast_output['Upper_Bound'])

In [27]:
forecast_output.drop(columns=['y_log'], inplace=True)

In [28]:
forecast_output.head()

        Date  Forecast_Sales   Lower_Bound   Upper_Bound  Actual_sales
0 2014-01-31    14119.618004  12547.212544  15956.939728     14236.895
1 2014-02-28     5297.214395   4695.550337   5982.617560      4519.892
2 2014-03-31    46863.788684  41297.029047  52716.881192     55691.009
3 2014-04-30    29526.276540  25954.490568  33160.009683     28295.345
4 2014-05-31    26639.588207  23346.911454  30037.739934     23648.287

In [29]:
forecast_output['Error'] = (
    forecast_output['Actual_sales'] - forecast_output['Forecast_Sales']
)

In [30]:
forecast_output['APE_%'] = (
    forecast_output['Error'] / forecast_output['Actual_sales']
) * 100

In [31]:
# Now Check the Error in model
Predicted = forecast_output.Forecast_Sales
Actual = forecast_output.Actual_sales

In [32]:
Actual.isna().sum()

6

In [33]:
valid_data = forecast_output.dropna()

In [34]:
Actual = valid_data['Actual_sales']
Predicted = valid_data['Forecast_Sales']

In [35]:
forecast_output.tail()

,Date,Forecast_Sales,Lower_Bound,Upper_Bound,Actual_sales,Error,APE_%
49,2018-02-28,49718.560285,44241.806545,56445.148663,NaN,NaN,NaN
50,2018-03-31,64777.917450,56990.938593,73474.119696,NaN,NaN,NaN
51,2018-04-30,48555.426346,43050.248348,55566.511218,NaN,NaN,NaN
52,2018-05-31,54310.464428,48071.954631,61815.533502,NaN,NaN,NaN
53,2018-06-30,51950.904031,45532.941750,59438.112205,NaN,NaN,NaN

In [36]:
forecast_output.isnull().sum()

Date              0
Forecast_Sales    0
Lower_Bound       0
Upper_Bound       0
Actual_sales      6
Error             6
APE_%             6
dtype: int64

In [37]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

In [38]:
r2score = r2_score(Actual, Predicted)
r2score

0.9571787935148196

In [39]:
import math
mean_squared_error(Actual, Predicted)

26617971.230665922

In [40]:
mape = mean_absolute_percentage_error(Actual, Predicted)
mape * 100

7.72809211101834

In [41]:
math.sqrt(mean_squared_error(Actual, Predicted))

5159.2607252072385

In [42]:
forecast_output.to_csv(
    "../output/sales_forecast_powerbi.csv",
    index=False
)
# For PowerBI CSV is ready